<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include partial/header %>
    <title>Add Student</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>

          </div>
          <h2 class="text-center">Tambahkan Students</h2>
          <br><br>
          <% if(errmsg != ''){%>
            <center><p class="text-center btn btn-danger" color="red"><%= errmsg%></p></center>
          <% } %>
          <br><br>
          <form class="form-group has-success" action="/student" method="post">
            <input class="form-control"  type="text" name="name" placeholder="Name"><br>
            <input  class="form-control" type="text" name="address" placeholder="Address"><br>
            <input class="form-control"  type="text" name="email" placeholder="Email"><br>
            <input  class="form-control" type="radio" name="gender" value="Perempuan" checked>Perempuan
            <input class="form-control"  type="radio" name="gender" value="Laki-laki" class="left">Laki-laki <br><br>
            <button type="submit" class="btn btn-primary glyphicon glyphicon-pencil" > Tambah</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
