<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include partial/header %>
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1><%= tampilanUtama  %></h1>
            <p> Silahkan masuk di menu Admin !!!</p>
            <p><a class="btn btn-primary btn-lg glyphicon glyphicon-th-list" href="/student" role="button"> klik Admin</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
